body {
    background-color:#f3d643 ;
} 

.container-fluid {
    margin-left: 5rem;
    margin-right: 5rem;
}

.navbar-nav {
    margin-left: 2rem;
}


.navbar-nav a {
    color: black;
    margin: 10px;
    font-weight: 550;
    font-family: "DM Sans", sans-serif;
}

.figure {
    margin: 15px;
    margin-top: 90px;
}

.figure .img_adocao img {
    width: 440px;
    border-radius: 35px;
    margin: 110px;
}

.sombra1 {
    background-color: #29b2a0;
    width: 440px;
    height: 265px;
    border-radius: 35px;
    margin-left: 150px;
    margin-top: -360px;
}

.posicao {
    margin-left: 1250px;
    margin-top: -610px;
}

.titulo_adocao .titulo h1 {
    color: #073376;
    font-size: 25px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    margin-top: 335px;
    margin-left: -515px;
}

.texto p {
    padding-top: 38px;
    text-align: left;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    margin-left: -500px;
    margin-right: 160px;
}

.saiba {
    padding-top: 5px;
    margin-left: -500px;
}

.saiba a .clique {
    font-size: 30px;
    width: 160px;
    border-radius: 25px;
    border: none;
    height: 60px;
}

.saiba a .clique p {
    padding-top: 16px;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 650;
    color: #073376;
}


.footer-pet {
    margin-top: 285px;
    background-color: #c36721;
    color: white;
    height: auto;
    width: 100%;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
}

.footer-pet a {
    text-decoration: none;
    color: white;
}

.footer-pet p {
    margin-bottom: 0;
}

.footer-pet-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
    padding-left: 60px;
}

.footer-pet-div1,
.footer-pet-div2,
.footer-pet-div3,
.footer-pet-div4 {
    display: flex;
    width: calc(100% / 4 - 15px);
    padding: 10px;
}

.footer-pet span {
    font-size: 20px;
    color: white;
}

.footer-direitos {
    width: calc(100% - 0px);
    background-color: #073376;
    padding: 10px;
    margin: 0px;
    text-align: center;
}

.medias-sociais {
    margin-top: 0px;
}

.medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}

.medias-socias a i{
    font-size: 20px;
}

.medias-socias a:hover{
    color: #c36721;
    background-color: white;
}